.adminPage main {
  margin-left: 10px;
}

.adminPage .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminPage nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.adminPage form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.adminPage form .field {
  padding-bottom: 10px;
}

.adminPage form .field input {
  padding: 12px 14px;
}

.adminPage form .field label[data-shrink='false'] {
  transform: translate(14px, 12px) scale(1);
}

.adminPage .errorMessage {
  height: 30px;
  color: rgb(232, 5, 5);
  font-size: 14px;
}

.adminPage form button {
  /* align-self: flex-start; */
  width: 90px;
}
