button.favorite {
  background: none;
  border: none;
  transition: opacity 0.3s, transform 0.2s;
  cursor: pointer;
}

button.favorite img {
  max-height: 35px;
}

button.favorite:hover {
  opacity: 0.8;
}

button.favorite:active {
  transform: scale(0.9);
}

.InfoModal .text {
  padding-right: 20px;
}

.InfoModal .box {
  overflow: auto;
}

.InfoModal .field {
  padding-bottom: 15px;
  max-width: 500px;
}
