.InfoModal .text {
  padding-right: 20px;
}

.InfoModal .box {
  overflow: auto;
}

.InfoModal .field {
  max-width: 500px;
  padding-bottom: 15px;
}

.InfoModal .urlContainer {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.InfoModal .urlContainer .field {
  padding-bottom: 0;
}

.InfoModal button.icon {
  background: none;
  border: none;
  transition: opacity 0.3s, transform 0.2s;
  cursor: pointer;
}

.InfoModal button.icon svg {
  height: 32px;
}

.InfoModal button.icon:hover {
  opacity: 0.8;
}

.InfoModal button.icon:active {
  transform: scale(0.9);
}

.InfoModal .heartIcon {
  color: #a6652d;
}

.InfoModal button svg.trashIcon {
  height: 20px;
}

.InfoModal .closeContainer {
  display: flex;
  justify-content: flex-end;
}
